body{
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4fff4;
    margin: 0;
    padding: 20px;
}

.logo{
    width: 250px;
    margin-bottom: 20px;
}

#webcam-container{
    margin-top: 20px;
}

canvas{
    border-radius: 20px;
    border: 5px solid #2e8b57;
}

.deteccion{
    background: #2e8b57;
    color: white;
    width: 330px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}

#label-container{
    font-size: 24px;
    font-weight: bold;
}